<section class="contenido-body quienes-somos">
    <header>
        <h1 class="titulo">Quienes somos</h1>
    </header>
    <main>
        <ul>
            <li>
                <div *ngFor="let persona of equipo">
                    <figure>
                        <img src="{{persona.img}}" alt="{{persona.img}}" height="150px">
                        <div>
                            <figcaption>{{persona.nombre}}</figcaption>
                            <a class="icon-git" href="{{persona.linkGit}}" target="_blank"></a>
                        </div>
                    </figure>
                    <div>
                        <p>{{persona.descripcion}} </p>
                    </div>
                </div>
            </li>
        </ul>
    </main>
</section>