<h2 mat-dialog-title>{{ datos?.selectedPersonaje ? 'Editar Card' : 'Crear Nueva Card' }}</h2>

<mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field class="ancho-maximo">
            <mat-label>Nombre</mat-label>
            <input matInput [formControlName]="'nombre'" required>
            <mat-error *ngIf="formulario.controls['nombre'].hasError('required')">El nombre es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Genero</mat-label>
            <mat-select [formControlName]="'genero'" required>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="unknown">Unknown</mat-option>
            </mat-select>
            <mat-error *ngIf="formulario.controls['genero'].hasError('required')">El genero es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Estado</mat-label>
            <mat-select [formControlName]="'estado'" required>
                <mat-option value="Alive">Alive</mat-option>
                <mat-option value="Dead">Dead</mat-option>
            </mat-select>
            <mat-error *ngIf="formulario.controls['estado'].hasError('required')">El estado es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Ruta de la imagen</mat-label>
            <input matInput [formControlName]="'img'">
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Especie</mat-label>
            <input matInput [formControlName]="'especie'">
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Origen</mat-label>
            <input matInput [formControlName]="'origen'">
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Tipo</mat-label>
            <input matInput [formControlName]="'tipo'">
        </mat-form-field>
        <mat-form-field class="ancho-maximo">
            <mat-label>Descripción</mat-label>
            <textarea matInput [formControlName]="'descripcion'"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cerrarModal()">Cancelar</button>
    <button mat-button color="primary" (click)="guardarCambios()">Guardar</button>
</mat-dialog-actions>