<section class="contenido-body">
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <div>
            <form [formGroup]="formulario" class="contenedor-formulario" (ngSubmit)="iniciarSesion()">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Iniciar Sesión</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="ancho-maximo">
                                    <label>Correo: </label>
                                    <input formControlName="correo" matInput placeholder="Tu correo">
                                    <mat-error *ngIf="formulario.get('correo')!.invalid && formulario.get('correo')!.touched">
                                        Introduce un correo electrónico válido
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="ancho-maximo">
                                    <label>Contraseña: </label>
                                    <input matInput formControlName="contrasenya" placeholder="Tu contraseña" [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" [disabled]="formulario.invalid">Iniciar Sesión</button>
                    </mat-card-actions>
                </mat-card>
            
            </form>
        </div>
    </main>
</section>
