<section class="contenido-body">
    <header>
        <h1 class="titulo">Login</h1>
    </header>
    <main>
        <div>
            <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()" *ngIf="!loginCorrecto;else cargando">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="formularioLogin.controls['email'].hasError('required')">El email es
                        requerido</mat-error>
                    <mat-error *ngIf="formularioLogin.controls['password'].hasError('email')">Email
                        inválido</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" formControlName="password"
                        [type]="mostrarPassword ? 'text' : 'password'">
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ mostrarPassword ? 'visibility_off' :
                        'visibility' }}</mat-icon>
                    <mat-error *ngIf="formularioLogin.controls['password'].hasError('required')">La contraseña es
                        requerida</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!formularioLogin.valid">Enviar</button>
                <mat-error class="error-message" *ngIf="hasError">{{errorMessage}}</mat-error>
            </form>
        </div>
    </main>
</section>

<ng-template #cargando>
    <mat-spinner></mat-spinner>
</ng-template>