/*  ## cardLogin ##*/
.card-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.contenido-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titulo {
    margin-bottom: 20px;
}

.card-container .titulo {
    text-align: left;
}

form {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-icon {
    cursor: pointer;
}

button {
    width: 100%;
}

.mat-form-field mat-error {
    color: red !important;
}

.error-message {
    text-align: center;
    margin-top: 2rem;
}

.error-image {
    width: 200px;
    height: auto;
}

.error-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: red;
}

/* ## Spiner ## */
.spiner-container {
    display: flex;
    justify-content: center;
}