<section class="contenido-body">
    <div class="card-container">
        <header>
            <h1 class="titulo">Login</h1>
        </header>
        <main>
            <div>
                <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()" *ngIf="!loginCorrecto;else cargando">
                    <mat-form-field>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="formularioLogin.controls['email'].hasError('required')">El email es
                            requerido</mat-error>
                        <mat-error *ngIf="formularioLogin.controls['password'].hasError('email')">Email
                            inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Contraseña" formControlName="password"
                            [type]="mostrarPassword ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ mostrarPassword ? 'visibility_off' :
                            'visibility' }}</mat-icon>
                        <mat-error *ngIf="formularioLogin.controls['password'].hasError('required')">La contraseña es
                            requerida</mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" [disabled]="!formularioLogin.valid">Enviar</button>

                </form>
                <div *ngIf="hasError" class="error-message">
                    <p class="error-text">¡Oh no! Parece que algo salió mal en nuestro portal interdimensional.</p>
                    <p class="error-text">Rick está ocupado solucionando problemas en otra dimensión.</p>
                    <p class="error-text">Deberas volver a intentar iniciar sesion porque...</p>
                    <p class="error-text">Melon!!! <br><strong>{{errorMessage}}</strong> </p>
                </div>
            </div>
        </main>
    </div>
</section>

<!-- TEMPLATES -->
<ng-template #cargando>
    <div class="spiner-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>