.contenedor-titulo {
  text-align: center;
  margin-top: 7rem;
}

.titulo-fuente {
  margin: 0.5rem;
}

.contenedor-img {
  text-align: center;
}

.not-found-img {
  margin: 0.5rem;
  width: 50%;
  height: 50%;
}
