<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav barar-nav-material" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="opciones-nav" routerLink="">Home</a>
      <a mat-list-item class="opciones-nav" routerLink="personajes">Personajes</a>
      <a mat-list-item class="opciones-nav" routerLink="planetas">Planetas</a>
      <a mat-list-item class="opciones-nav" routerLink="episodios">Episodios</a>
      <a mat-list-item class="opciones-nav" routerLink="quienes-somos">Quienes somos</a>
      <a mat-list-item class="opciones-nav" routerLink="contactanos">Contactanos</a>
    </mat-nav-list>
    <ng-container *ngTemplateOutlet="exiteToken ? logout : login">

    </ng-container>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="cabecera-nav-material">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Web sobre Rick y Morty</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <a id="login-nav" routerLink="autenticacion">LogIn</a>

  {{exiteToken}}
</ng-template>

<ng-template #logout>
  <a id="login-nav" (click)="cerrarSesion()">LogOut</a>
  {{exiteToken}}
</ng-template>