.card-personajes {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.personaje-img {
  object-fit: contain;
  object-position: center;
  height: 50%;
  background-color: rgb(224, 216, 205);
}

.contenedor-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.descripcion {
  overflow: hidden;
  transition: 2s;
  margin-top: 10px;
}

.lista-personajes {
  list-style-type: none;
}

.lista-personajes .liIcono {
  display: inline;
}

.lista-personajes li img {
  height: 50px;
  width: 50px;
  margin: 5px;
}