<div class="section-episodios">
    <button (click)="crear(episodios, true)">NUevoCrear</button>
    <mat-card class="card-episodios" *ngFor="let episodio of episodios">

        <mat-card-header>
            <mat-card-title>{{episodio.titulo}}</mat-card-title>
            <mat-card-subtitle>{{episodio.episodio | pipeFormatoTemporada}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>{{episodio.sinopsis}}</p>
            <mat-card-subtitle>{{episodio.fechaEmision | pipeFormatoFecha}}</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card-content>
        <button (click)="editar(episodio, false)">Editar</button>
        <button (click)="eliminarEpisodio(episodio)">Borrar</button>


    </mat-card>
</div>