.contenedor-formulario{
    margin: 5%;
}

.cabecera {
    margin-bottom: 10px;
}

.ancho-maximo{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

