.card-personajes {
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.personaje-img {
  object-fit: contain;
  object-position: center;
  height: 50%;
  background-color: rgb(224, 216, 205);
}

.contenedor-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.descripcion {
  overflow: hidden;
  transition: 2s;
  margin-top: 10px;
}

.lista-personajes {
  list-style-type: none;
}

.lista-personajes .liIcono {
  display: inline;
}

.vivoMuertoIcono {
  width: 50px;
  margin: 5px;
}
/**/
.crudIcono {
  width: 40px;
  margin: 5px;
}

.crudIcono:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-edicion {
  width: 100%;
  max-width: 1200px;
  margin: 5%;
  display: block;
}

.panel-crear {
  max-width: 100px;
  max-height: 50px;
  position: relative;
}

.ancho-maximo{
  width: 100%;
}

/**/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
}