<div class="contenedor-main">
    <div>
        <button class="btn-fomrs btn-ahadir" (click)="abrirModal(false, personajes)">
            <div></div>
        </button>
    </div>

    <mat-card class="card-personajes" *ngFor="let personaje of personajes">

        <mat-card-header>
            <mat-card-title>{{ personaje.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ personaje.especie }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{personaje.img}}" alt="imgPersonaje" class="personaje-img"
            [appImgRota]="personaje.img" />

        <mat-card-content>
            <ul class="lista-personajes">
                <li class="liIcono"><img class="vivoMuertoIcono" alt="iconoVivoMuerto" height="50px"
                        [appVivoMuerto]="personaje.estado"></li>
                <li class="liIcono"><img class="generoIcono" alt="iconoGenero" height="50px"
                        [appMostrarIconosGenero]="personaje.genero"></li>
                <li class="descripcion"><b>Descripción:</b>
                    {{ personaje.mostrarDescripcion ? personaje.descripcion : (personaje.descripcion | pipeDescripcion)
                    }}
                </li>
            </ul>
        </mat-card-content>

        <mat-card-actions>
            <!-- Abre el formulario modal como editar porque el booleano 'edicion' es true -->
            <div class="contenedor-btn-control-form">
                <button class="btn-fomrs btn-editar"
                    (click)="setPersonajeSeleccionado(personaje); abrirModal(true, personajes)">
                    <div></div>
                </button>
                <button class="btn-fomrs btn-borrar" (click)="borrarPersonaje(personaje)">
                    <div></div>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>