<div class="contenedor-main">
    <div>
        <!-- Abre el formulario modal como crear porque el booleano 'edicion' es falso -->
        <button (click)="abrirModal(false, personajes)">
            <img class="crudIcono" src="{{crear}}" alt="crear" height="40px">
        </button>
    </div>

    <mat-card class="card-personajes" *ngFor="let personaje of personajes">

        <mat-card-header>
            <mat-card-title>{{ personaje.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ personaje.especie }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{personaje.img}}" alt="imgPersonaje" class="personaje-img" />

        <mat-card-content>
            <ul class="lista-personajes">
                <li class="liIcono"><img class="vivoMuertoIcono" alt="iconoVivoMuerto" height="50px"
                        [appVivoMuerto]="personaje.estado"></li>
                <li class="liIcono"><img class="generoIcono" alt="iconoGenero" height="50px"
                        [appMostrarIconosGenero]="personaje.genero"></li>
                <li class="descripcion"><b>Descripción:</b>
                    {{ personaje.mostrarDescripcion ? personaje.descripcion : (personaje.descripcion | pipeDescripcion)
                    }}
                </li>
            </ul>
        </mat-card-content>

        <mat-card-actions>
            <!-- Abre el formulario modal como editar porque el booleano 'edicion' es true -->
            <img class="crudIcono" src="{{editar}}" alt="editar" height="40px"
                (click)="setPersonajeSeleccionado(personaje); abrirModal(true, personajes)">

            <img class="crudIcono" src="{{borrar}}" alt="borrar" height="40px" (click)="borrarPersonaje(personaje)">
        </mat-card-actions>
    </mat-card>
</div>