/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    --colorPrincipal: RGB(0, 176, 200);
    --colorSecundario: RGB(139, 252, 115);

}

h1 {
    font-family: Get Schwifty !important
}


.contenido-body {
    height: 90vh;
}